[[Category:Meeting]]
<table class='meeting-minutes-infobox'>
	<caption>{{ title }}</caption>
	<tr><th class='meeting-minutes-infobox-row-label'>Day</th><td>{{ day }}</td></tr>
	<tr><th class='meeting-minutes-infobox-row-label'>Time</th><td>{{ time }}</td></tr>
	<tr><th class='meeting-minutes-infobox-row-label'>Building</th><td>{{ building }}</td></tr>
	<tr><th class='meeting-minutes-infobox-row-label'>Room</th><td>{{ room }}</td></tr>
	<tr><th class='meeting-minutes-infobox-row-label'>Conference phone #</th><td>{{ phonenumber }}</td></tr>
	<tr><th class='meeting-minutes-infobox-row-label'>Conference password</th><td>{{ phonepassword }}</td></tr>
	<tr><th class='meeting-minutes-infobox-row-label'>Significant attendees</th><td>{{ attendees }}</td></tr>
</table>
<p>{{ overview }}</p>

<h2>Recent Meetings</h2>
