[[Category:Meeting Minutes]]
<table class='meeting-minutes-infobox'>
	<caption>Meeting Minutes</caption>
	<tr><th class='meeting-minutes-infobox-row-label'>Meeting type</th><td>{{ meetingtype }}</td></tr>
	<tr><th class='meeting-minutes-infobox-row-label'>Meeting date</th><td>{{ time }}</td></tr>
	<tr><th class='meeting-minutes-infobox-row-label'>Start time</th><td>{{ building }}</td></tr>
	<tr><th class='meeting-minutes-infobox-row-label'>Notes taken by</th><td>{{ room }}</td></tr>
	<tr><th colspan='2'>Meeting Documents</th></tr>
	<tr><td colspan='2'>{{ meetingfiles }}</td></tr>
</table>
<div style="clear:both; margin-bottom: .5em; float: right; margin-left:2.5em; width: 350px;">__TOC__</div>

{{{ topics }}}